.title{
    text-align:center;
    font-size: 30px;
    font-family: "Times New Roman", sans-serif;
}
.welcome{
    font-size: 15px;
    padding-bottom: 10px;
}
.welcomeimg{   
    width:300px;
    height:auto;
}



.list{
    font-family: "times new roman";
}